* {
  margin: 0;
  padding: 0;
}

html, body {
  border: red solid 2px;
  height: 150%;
}

#box {
  height: 200px;
  width: 200px;
  background: green;
  position: absolute;
  bottom: 0;
  left: 0;
}

